.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 16px;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.header__silka{
    text-decoration: none;
    font-size: 16px;
    color: black;
    opacity: 0.5;
    font-family: sans-serif;
    font-weight: 400;
}

.active{
    font-weight: 700;
    opacity: 1;
}